<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/index.css">
    <title>Assignment</title>

</head>

<body>
    <div class="login">
        <div class="Container-1">

            <div class="Rectangle">

                <div class="Welcome">Welcome To App Name</div>
                <div class="Text">Get ahead of the curve. Join the next genration of health heroes</div>

                <div class="Frame"><img src="Frame.jpg" alt=""></div>

            </div>
        </div>

        <div class="Container-2">

            <div class="SignIn-Form">
                <p>Sign-in to your account</p>
            </div>

            <div class="Input">
                <div class="User">
                    <input class="UserName" type="UserName" placeholder="Username">
                </div>

                <div class="Pass">
                    <input class="PassWord" type="UserName" placeholder="Password">
                </div>


            </div>


            <Select class="Select-Unit">
                <option class="Select-Unit-Name" value=""> Select Unit Name</option>

            </Select>

            <div class="SignIn">
                <button class="SignIn-button">Sign in</button>
            </div>


        </div>
    </div>
</body>

</html>